[submodule "external/DearImGUI"]
	path = external/DearImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/VMA"]
	path = external/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/ImGUICustomLayout"]
	path = external/ImGUICustomLayout
	url = https://github.com/JerryYan97/ImGUIExplore.git
[submodule "external/Gardener"]
	path = external/Gardener
	url = https://github.com/JerryYan97/Gardener.git
[submodule "external/spdLog"]
	path = external/spdLog
	url = https://github.com/gabime/spdlog.git
